@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-color: #3f4055;
    --background-color-dark: #262739;
    --text-color: white;
    --border-color: #16171d;

    --bar-button-size: 48px;
}