div#input-container {
    
}

button.tool, button.editor-option {
    width: 64px;
    height: 64px;
}

button.tool.selected, button.editor-option.active {
    background-color: cyan;
}

div.tool-container {
    display: flex;
    gap: 32px;
}

div.tool-category {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 64px);
    gap: 4px;
}