div#input-container {
    position: absolute;
    left: 1300px;
}

button.tool {
    width: 64px;
    height: 64px;
}

button.tool.selected {
    background-color: cyan;
}

div.tool-container {
    display: flex;
    gap: 32px;
}

div.tool-category {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 64px);
}