body {
    margin: 0;
    /* overflow: hidden; */
}

div#canvas-container {
    position: absolute;
    left: 0;
    top: 0;
    border: solid gray 16px;  
    display: grid;
}

canvas {
    grid-column: 1;
    grid-row: 1;
}