body {
    margin: 0;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* width: 98%; */
    /* margin-left: 1%; */
    overflow: auto;
}

* {
    font-family: sans-serif;
}

div#canvas-container {
    border: solid gray 16px;  
    display: grid;
    position: absolute;
    left: 0;
    top: 0;
    /* width: auto; */
}

canvas {
    grid-column: 1;
    grid-row: 1;
    /* width: 100%; */
}

canvas#highlight {
    animation: 0.5s infinite alternate highlight_blink;
}

canvas#highlight:active {
    animation: none;
}

div#popup {
    position: absolute;
    background-color: white;
    padding: 8px;
    border: solid 4px gray;
}

@keyframes highlight_blink {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}